# Images raster
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.tif
*.webp
*.avif
*.heic
*.heif

# Images vectorielles
*.svg
*.eps
*.ai
*.pdf

# Icônes
*.ico
*.icns

#les conneries d'elm
\elm-stuff

#les logs js
\logs
#les modules
\node_modules

package-lock.json
package.json
